.navigation {
    margin-top: -2.5rem;
    position: relative;
    z-index: 3;

    @media only screen and (max-width: 37.5em) {
        display: none;
    }
    
    &__list {
        display: flex;
        justify-content: center;
        height: 100%;
        list-style: none;
        
    }

    &__item {
        height: 7.5rem;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        &:first-child,
        &:last-child {
            height: 7rem;
            align-self: flex-end;
        }

        &:hover {
            background-color: $color-secondary;
            border-radius: 0 0 5px 5px;
        }
        
    }

    &__link {
        font-family: 'Nimbussantconboldregular';
        font-size: 1.9rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem; 
    }
}

.about {
    background: rgba($color-primary-dark-2, .7);
    border-radius: 5px;
    padding: 2.2rem 4rem;
    margin-top: 1.7rem;

    @media only screen and (max-width: 56.75em) {
        padding: 1.5rem 2rem;
        margin: 1.7rem 2rem;
    }

    &__title {
        font-family: 'Helveticaneuecyrlight';
        font-size: 3.4rem;
        font-weight: 400;
        color: $color-white;
        padding: 1.5rem;
        position: relative;
        z-index: 5;

        @media only screen and (max-width: 37.5em) {
            font-size: 2.4rem;
            padding: 1rem;
        }
    }
    &__text {
        color: $color-white;
        line-height: 2.8rem;

        @media only screen and (max-width: 37.5em) {
            line-height: 2.4rem;
        }
    }
}

.category {
    transform: translateY(-11.7rem);
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 11.2rem;
        margin-bottom: 3rem;

        @media only screen and (max-width: 56.75em) {
            margin: 0 5.6rem 5rem 5.6rem;
        }
        
        &:nth-child(3n),
        &:last-child {
            margin-right: 0rem;

            @media only screen and (max-width: 56.75em) {
                margin-right: 5.6rem;
            }
        }

    }

    &__img {
        width: 20.7rem;
        height: 20.7rem;
        border: 7px solid $color-white;
        border-radius: 50%;
        box-sizing: content-box;
        margin-bottom: 1rem;

        & img {
            width: 20.7rem;
            height: auto;
            border-radius: 50%;
        }
    }

    &__name {
        font-family: 'Helveticaneuecyrlight';
        font-size: 3.4rem;
        color: $color-grey;
        padding: 2.2rem 0;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    font-family: 'Nimbussantconboldregular';
    font-size: 1.9rem;
    text-transform: uppercase;
    padding: 1.6rem 4.4rem;

    &__category {
        color: $color-white;
        border: 2px solid $color-grey-2;

        &:hover {
            color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }

    &__info {
        color: $color-primary-dark;
        border: 2px solid $color-primary-dark;

        &:hover {
            color: $color-secondary;
            border: 2px solid $color-secondary; 
        }
    }

}
