@font-face {
    font-family: 'Helveticaneuecyrblack';
    src: url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrblack_italic';
    src: url('../fonts/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrbold_italic';
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrlight_italic';
    src: url('../fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrthin_italic';
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helveticaneuecyrultralight';
    src: url('../fonts/helveticaneuecyr-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nimbussantconboldregular';
    src: url('../fonts/nimbstb-webfont.woff2') format('woff2'),
         url('../fonts/nimbstb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}